h1 { 
    font-family: 'Sedgwick Ave';
    text-align: center;
    transform: rotateY(0);
    transform: rotateY(360deg);
}

.topnav {
    background-color: #333;
    overflow: hidden;
    position: -webkit-sticky; /* Safari */
    position: fixed;
    top: 0;
    font-family: 'Sedgwick Ave';
    text-align: center;
}

a {
  font-family: 'Sedgwick Ave';
    text-align: center;
}
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Sedgwick Ave', cursive;
}
/*change the color of links on hover */

.topnav a:hover {
    background-color: #ddd;
    color: black;

}

#row1 {
    
    opacity:0;
    animation: fadeIn;
    animation-duration: 0.3s;
    animation-fill-mode:forwards;
    animation-delay: 0.3s;
}
#row2 {
    opacity: 0;
    animation: fadeIn;
    animation-duration: 0.3s;
    animation-fill-mode:forwards;
    animation-delay: 0.6s;
}

@media (max-width: 650px) {
    img {
      height: 100px;
      width:  100px;
    }
  }
  
   @media (min-width: 651px) and (max-width: 1000px) {
    img {
      height: 150px;
      width:  150px;
    }
  }
  
  @media (min-width: 1001px) {
    img {
      height: 200px;
      width: 200px;
    }
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-60%);
    }
  
    50% {
      opacity: 0;
      transform: translateY(-60%);
    }
  
    75% {
      opacity: 0.5;
      transform: translateY(10%);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  img {
    width: 300px;
    height: 300px;
    object-fit: contain;
    background-color: red; red;
    border: 20px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
    transition: all .2s ease-in-out;
    display: inline-block;
    transform: rotateY(360deg);
}
img:hover{
    transform: scale(1.5);
}
.accordion {
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    text-align: center;
    text-anchor: middle;
}

.active, .accordions:hover {
    background-color: lightslategray; 
    color: black;
   
}

.panel {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    /*background-colo: purple;*/
    color: black;
    border-style: solid;
    border-color: black;
    box-shadow: 5px 10px;
    
}
.addborder{
    border: 1px solid;
    padding: 30px;
    box-shadow: 5px 10px;
}

.inimag { 
    position: left;
    align-content: left;
    float: left;
    background-color: red;
    transform: rotateX(360deg);
    }

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}


/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 500px) {
  .prev, .next,.text {font-size: 11px}
}

.changepic{
 
 border: none;
 padding: none;
 background: none;
 height: 500px;
 


}
/* form  */

body {font-family: Arial, Helvetica, sans-serif;}
form {box-sizing: border-box;
      float: left;
      margin: 100px;

}



input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: red;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 50px;
    color: white;
  padding: 30px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

$("#kitten").hover(function(){

  $(this).find("img").fadeOut();

}, function() {

  $(this).find("img").fadeIn();

});

@keyframes cf3FadeInOut {
  0% {
  opacity:1;
}
45% {
opacity:1;
}
55% {
opacity:0;
}
100% {
opacity:0;
}




